@import './variables';

form {
  background-color: $secondary-color;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  max-width: 600px;
  margin: 20px auto;

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: $text-color;
  }

  input, select {
    width: 100%;
    padding: 15px;
    border-radius: $border-radius;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #fafafa;
    transition: $transition;

    // Ajout de l'ombre et du changement de bordure au focus
    &:focus {
      border-color: $primary-color;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 85, 255, 0.5);
      background-color: $secondary-color;
    }
  }

  // Champs spéciaux pour les dates
  input[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      right: 10px;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
    &:hover::-webkit-calendar-picker-indicator {
      opacity: 1;
    }
  }

  fieldset {
    padding: 15px;
    border-radius: $border-radius;
    margin-bottom: 20px;

    legend {
      font-size: 1.2rem;
      padding: 0 10px;
      color: $primary-color;
    }
  }
}
