
  .modal {
    text-align: center; /* Centrer le texte dans la modale */
  }
  
  .modal-text {
    font-size: 1.5rem; /* Taille de la police pour le message principal */
    color: #007bff; /* Couleur bleue pour le message */
    margin-bottom: 10px; /* Espacement en bas */
  }
  
  .modal-subtext {
    font-size: 1rem; /* Taille de la police pour le sous-message */
    color: #555; /* Couleur grise pour le texte secondaire */
  }
  