// Palette de couleurs
$primary-color: #0055ff;
$secondary-color: #ffffff;
$background-color: #f0f4f8;
$accent-color: #23a9f2;
$danger-color: #ff5252;
$text-color: #333333;

// Typographie
$font-family: 'Poppins', sans-serif;

// Ombres et bordures
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$border-radius: 12px;

// Transitions
$transition: all 0.3s ease;
